/*------------------------------------*\
  NEW PAGE
\*------------------------------------*/


// min-width: 0px
#new {
  .hero{
    background-image: image-url("new/header-bg-mobile.jpg");
    * { color: $white; }
    .logo-wrapper {
      position: relative;
      margin: 20px auto;
      text-align: center;
    }
    .hero-headline-wrapper {
      h1 {
        color: $white;
        font-weight: bold;

        &::after {
          background-color: $white;
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
        font-weight: medium;
      }

    }
  }
  .form-wrapper {
    width: 80%;
    margin: 35px auto 60px;
    h2, h3, p {
      text-align: center;
    }
    h2 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    h3 {
      color: red;
      margin-bottom: 20px;
    }
    p {
      color: $gray-medium;
      font-size: 16px;
    }
    .email{
      @include placeholder-color($gray-lightest);
      text-indent: 10px;
      border: 1px solid $gray-lightest;
      width: 100%;
      height: 40px;
      font-size: 17px;
      margin: 50px 0 0 0;
      border-radius: 0;
    }
    .submit{
      width: 100%;
      height: 50px;
      background-color: $red;
      color: $white;
      margin: 15px 0 60px 0;
      text-transform: uppercase;
      border: 0;
      border-radius: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .camp-end-wrapper {
    h2 {
      margin-bottom: 20px;
    }
    p {
      color: $gray;
    }
  }
}

@media only screen and (min-width: $tablet) {
  #new {
    .hero {
      background-image: image-url("new/header-bg-tablet.jpg");
      .logo-wrapper {
        margin: 0px auto;
      }
      .hero-headline-wrapper {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 23px;
          line-height: 30px;
          font-weight: medium;
        }
      }
    }
    .form-wrapper {
      height: 80px;
      width: 602px;
      margin: 35px auto 60px;
      form {
        width: 600px;
        height: 42px;
        margin: 65px 0 35px 0;
      }
      .email{
        width: 390px;
        float: left;
        margin: 0;
      }
      .submit{
        width: 200px;
        float: left;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  #new {
    .hero {
      background-image: image-url("new/header-bg-tablet.jpg");
      .hero-headline-wrapper {
        width: 525px;
        
        h1 {
          font-size: 52px;
        }
        p {
          font-weight: bold;
          margin-bottom: 70px;
        }
      }
    }
  }
}
